
{{> nav_bar url="browse.html" }}

<div class="content">
{{#each game_states}}
    <a class="game_card" href="game.html?game_id={{game_id}}">
        <div class="meta">
            #<span class="id">{{game_id}}</span> Date: <span class="date">{{formatDate game_date "DD MMMM - YYYY"}} </span> Created by: <span class="play_num">{{user_name}}</span>
        </div>
        <div class="image">
            <img src="http://placehold.it/350x350?text=Place+Holder" alt="Thumbnail">
        </div>
        <div class="words">
            <article class="game_description">
                <h2 class="game_name">{{game_name}}</h2>
                <p>{{game_desc}}</p>
            </article>
        </div>
    </a>
{{else}}
    <h2 class="empty">No published games, publish your own <a href="game.html">here</a>!</h2>
{{/each}}
</div>


{{> log_in url="browse.html" }}

{{> footer }}
